$key-width: 45px;
$key-height: 45px;
$background-color: rgba(189, 195, 199, 1);
$service-color: rgba(108, 122, 137, 1);
$alphabetic-color: rgba(149, 165, 166, 1);
$service-symbol-color: rgba(218, 223, 225, 1);
$alphabetic-symbol-color: rgba(236, 240, 241, 1);
$active-color: rgb(190, 247, 115);
$hovered-color: rgba(60, 61, 62, 0.5);
$pressed-color: rgba(60, 61, 62, 1);
$pressed-symbol-color: rgb(230, 233, 234);